.legal {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
  color: var(--text);
  line-height: 1.6;
  background-color: var(--background);
}

.legal h2 {
  margin-bottom: 1rem;
}

.legal p {
  margin-bottom: 1rem;
}
