<section class="legal">
<h1>Impressum</h1>
<h2 id="m46">Diensteanbieter</h2>
<p>Ugursay Pürc</p>
<p>Wielandstr. 16</p>
<p>10629 Berlin</p>
<p>Deutschland</p>

<h2 id="m56">Kontaktmöglichkeiten</h2>
<p>E-Mail-Adresse: hello&#64;ugursay-puercek.com</p>

<h2 id="m172">Social Media und andere Onlinepräsenzen</h2>
<p>
  Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und
  Onlineprofile:
</p>
<p>
  <a
    href="https://www.linkedin.com/in/ugursay-p%C3%BCrcek-566674192/"
    target="_blank"
    >https://www.linkedin.com/in/ugursay-p%C3%BCrcek-566674192/</a
  >
</p>

<p class="seal">
  <a
    href="https://datenschutz-generator.de/"
    title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
    target="_blank"
    rel="noopener noreferrer nofollow"
    >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
    Schwenke</a
  >
</p>
</section>