.privacy {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
  color: var(--text);
  line-height: 1.6;
  background-color: #0f172a;
}

.privacy h2 {
  margin-bottom: 1rem;
}

.privacy p {
  margin-bottom: 1rem;
}
