.privacy {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
  color: var(--text);
  line-height: 1.6;
  background-color: var(--background);
  text-align:left;
  overflow-wrap: break-word;
}

.privacy h1{
  font-size: 24px;
}

.privacy h2 {
  margin-bottom: 1rem;
}

.privacy p {
  margin-bottom: 1rem;
}
